body {
    background-color: rgb(88, 35, 233);
    height: 100vh;
}

.container {
    display: inline-block;
    width: 900px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-column {
    float: left;
    width: 40%;
    padding: 30px;
    background-color: rgb(0,150, 199);
    background-image: url(../images/kings-left-collumn.png);
    color: white;
    background-size: cover;
    background-position: right;
    position: absolute;
    bottom: 20px;
    top: 30px;
    left: 0;
 }

.main-title {
    width: 100%;
    font-size: 45px;
    font-weight: normal;
}

.bottom-link > .link {
    font-style: none;
    color: white;
    }

.bottom-link {
    position: absolute;
    bottom: 20px;
}

.right-column {
    float: right;
    width: 60%;
    padding: 30px;
    background-color: white;
    position: relative;
}

.close {
    width: 30px;
    height: 25px;
    font-size: 25px;
    text-align: center;
    line-height: 20px;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    }